version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 10
    schedule:
      interval: "cron"
      cronjob: "23 4 * * 0,2,4"
    allow:
      - dependency-type: all
    commit-message:
      prefix: "deps(ci): "
