# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: updatecli
on:
  workflow_dispatch: null
  schedule:
    - cron: "15 03 * * 1,3,5"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  UPDATECLI_VERSION: v0.110.3
  UPDATECLI_GITHUB_USER: qe-repo-updater[bot]
  UPDATECLI_GITHUB_EMAIL: 152897211+qe-repo-updater[bot]@users.noreply.github.com
jobs:
  updatecli:
    name: Run updatecli
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: "Checkout"
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false              
      - name: "Setup updatecli"
        uses: updatecli/updatecli-action@9a21b6911fe58865c8346d4fde3470010f49bf31 # v2.97.0
        with:
          version: ${{ env.UPDATECLI_VERSION }}
      - name: "Create Token"
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: "UpdateCLI"
        run: |
          "${{ github.workspace }}/src/main/scripts/updatecli.sh" apply
        env:
          UPDATECLI_GITHUB_USER: ${{ env.UPDATECLI_GITHUB_USER }}
          UPDATECLI_GITHUB_EMAIL: ${{ env.UPDATECLI_GITHUB_EMAIL }}
          UPDATECLI_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          UPDATECLI_GH_ACTION: true
          TOOL_CONFIG: ${{ github.workspace }}/config/tools.yml
          REPO_CONFIG: ${{ github.workspace }}/config/repo.yml
          SDK_CONFIG: ${{ github.workspace }}/config/sdk.yml
