# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: updatecli
on:
  workflow_dispatch: null
  schedule:
    - cron: "15 03 * * 1,3,5"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  UPDATECLI_VERSION: v0.113.0
  UPDATECLI_GITHUB_USER: qe-repo-updater[bot]
  UPDATECLI_GITHUB_EMAIL: 152897211+qe-repo-updater[bot]@users.noreply.github.com
jobs:
  updatecli:
    name: Run updatecli
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: "Checkout"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Setup updatecli"
        uses: updatecli/updatecli-action@b846825b298f5351abd80f94c4f9eab63a38a804 # v2.98.0
        with:
          version: ${{ env.UPDATECLI_VERSION }}
      - name: "Create Token"
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.WORKFLOW_UPDATE_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_UPDATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "${{ github.event.repository.name}}"
      - name: "UpdateCLI"
        run: |
          "${{ github.workspace }}/src/main/scripts/updatecli.sh" apply
        env:
          UPDATECLI_GITHUB_USER: ${{ env.UPDATECLI_GITHUB_USER }}
          UPDATECLI_GITHUB_EMAIL: ${{ env.UPDATECLI_GITHUB_EMAIL }}
          UPDATECLI_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_REPOSITORY_NAME: ${{ github.event.repository.name }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          UPDATECLI_GH_ACTION: true
          TOOL_CONFIG: ${{ github.workspace }}/config/tools.yml
          REPO_CONFIG: ${{ github.workspace }}/config/repo.yml
          SDK_CONFIG: ${{ github.workspace }}/config/sdk.yml
